{% load navigation_tags %}
{% load mptt_tags %}

{% comment %}
<li class="{% if is_active_trail %}active-trail{% endif %} {% if is_active_page %}active{% endif %}">
{% endcomment %}

<h1>{{ menu.name }}</h1>
<h2>Template: {{ menu.template }}</h2>

<ul>
  {% recursetree nodes %}
  {% if node.obj.node_type == "folder" %}
  <li>
    {{ node.obj.name }}
    {% if not node.is_leaf_node %}
    <ul>
      {{ children }}
    </ul>
    {% endif %}
  </li>
  {% endif %}
  {% if node.obj.node_type == "page" %}
  <li class="{{ node.obj.page|show_active_trail:path }} {{ node.obj.page|show_active_page:path }}">
    <a href="{{ node.obj.page.get_absolute_url }}">{{ node.obj.page.title }}</a>
    {% recursetree node.obj.get_page_children %}
    <li>
      <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
      {% if not node.is_leaf_node %}
      <ul>
        {{ children }}
      </ul>
      {% endif %}
    </li>
    {% endrecursetree %}
  </li>
  {% endif %}
  {% if node.obj.node_type == "link" %}
  <li>
    <a href="{{ node.obj.url }}">{{ node.obj.name }}</a>
    {% if not node.is_leaf_node %}
    <ul>
      {{ children }}
    </ul>
    {% endif %}
  </li>
  {% endif %}
  {% endrecursetree %}
</ul>
